@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;500&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  color-scheme: light dark;

  color: rgba(20, 19, 19, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: rgba(160, 159, 157, 0);
  overflow-x: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* ////////////////  clases para predeterminadas  ////////////////////// */
.df-c {
  display: flex;
  flex-direction: column;
}

input:focus,
:focus {
  outline: none;
}

button {
  cursor: pointer;
}

/* //////////////// Home /////////////////////////// */

.home {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgba(249, 243, 243, 0.93);
  height: 179vh;
  width: 99vw;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1625401733796-544e6fde7d8f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom 7%;
}

.first {
  margin-top: 19vh;
  display: flex;
  height: 40vh;
}

.grid {
  width: 43vw;
  margin-left: 2rem;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 50%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 7px 9px 15px -4px rgba(0, 0, 0, 0.75);
}

.square {
  transition: 2s;
  width: 100%;
  height: 100%;
}

.square h1 {
  margin-left: 8px;
  transition: 2s;
}

.square p {
  font-size: 1.2vw;
  padding: 0 5%;
  margin-top: 3vh;
  text-align: center;
  transition: 1s;
}

.first-texto {
  display: flex;
  width: 48vw;
  margin: 4vh 2vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first-texto > h1 {
  color: #e2d1bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3vw;
  padding: 0 5%;
}

.first-texto button {
  height: 8vh;
  width: 16vw;
  background: #222d28;
  border: none;
  color: #e2d1bd;
  margin: 7vh 0px 0px;
  font-size: 1.6vw;
  padding: 0 5%;
  font-weight: bolder;
  box-shadow: 7px 9px 15px -4px rgba(0, 0, 0, 0.75);
  transition: 0.7s;
  border-radius: 4px;
}

.first-texto button:hover {
  background-color: #e9d9d9e7;
  color: #2e2b28;
}

.second {
  display: flex;
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
}
.contSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contSecond h1 {
  color: #e2d1bd;
  border-bottom: 5px solid #222d28;
  font-size: 4vw;
  padding: 0 5%;
  text-shadow: 2px 2px 22px rgba(0, 0, 0, 0.5);
}

.listTask {
  display: flex;
  width: 34vw;
  height: 7vh;
  background: #222d28;
  align-items: center;
  margin-top: 3vh;
  border-radius: 4px;
  transition: 1s;
  cursor: pointer;
  box-shadow: 32px 24px 24px -14px rgba(0, 0, 0, 0.75);
}
.listTask h2 {
  color: #e2d1bd;
  display: flex;
  width: 35%;
  font-size: 2vw;
  padding: 8px 5%;
  justify-content: center;
}

.listTask:hover {
  background-color: #e9d9d9e7;
}
.listTask h2:hover {
  color: #2e2b28;
}

.third .cont-text {
  margin: 0 19vw;
  background-color: #222d28;
  color: #f9ead8;
  font-size: 2vw;
  padding: 8px 5%;
  border-radius: 4px;
  box-shadow: 0px 14px 26px -14px rgba(0, 0, 0, 0.75);
}

/* //////////////// login and register//////////////////////////////////// */

.login-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-width: 400px;
  max-width: 500px;
  background: #f7f3f3;
  width: 32vw;
  height: 530px;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 18px;
}

.main-container p {
  margin-left: 30px;
  font-size: 18px;
}
.main-container p span {
  margin-left: 10px;
  text-decoration: underline;
  color: rgba(155, 111, 111, 0.932);
}

.main-container p span:hover {
  color: rgba(44, 43, 43, 0.774);
}

.main-container .cont {
  position: relative;
  margin: 22px 0;
}

.main-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 19px;
  color: transparent;
  font-family: "Arial", sans-serif;
  transition: 0.3s;
}
.main-container .show label {
  display: flex;
  position: absolute;
  top: -18px;
  left: 1px;
  font-size: 17px;
  color: rgba(73, 72, 72, 0.932);
  font-family: "Arial", sans-serif;
}

.main-container .cont input {
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 19px;
  border-bottom: solid rgba(73, 72, 72, 0.932);
  color: rgba(73, 72, 72, 0.932);
}

.cont.df-c input[type="password"]::placeholder {
  color: rgba(73, 72, 72, 0.932);
}
.main-container button {
  height: 50px;
  background-color: transparent;
  border: solid rgba(73, 72, 72, 0.932);
  color: rgba(73, 72, 72, 0.932);
  margin: 30px 0 40px;
  font-size: 19px;
}

.main-container button:hover {
  background-color: rgba(73, 72, 72, 0.932);
  border: solid rgb(192, 186, 186);
  color: #f7f3f3;
}

.error {
  height: 30px;
  color: rgba(92, 89, 89, 0.932);
  margin: 0px 2px 11px;
}
.title {
  height: 67px;
  margin: 0px 66px 49px;
}

/* ///////////////////////// page-top ////////////////////// */

.page-top {
  position: absolute;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  margin: 0 3vw;
  background: rgba(27, 27, 25, 0);
}

.digital-clock {
  font-size: 1.6vw;
  padding: 0 5%;
  margin-top: 1vh;
  color: #e2d1bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logout {
  display: flex;
  align-items: center;
}

.page-top .logo h1 {
  color: #e2d1bd;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-top h2 {
  margin-right: 2vw;
  color: #e2d1bd;
  padding: 0 1%;
  font-size: 1.6vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logout button {
  height: 5vh;
  width: 7vw;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #222d28;
  color: #e2d1bd;
  margin: 0 22px 1px;
  font-size: 1.6vw;
  padding: 0 1%;
  z-index: 1;
  font-weight: 700;
  box-shadow: 11px 32px 22px -28px rgba(0, 0, 0, 0.75);
}

/* ///////////////////// footer ///////////////////////// */
footer {
  width: 93vw;
  height: 46vh;
  margin: 0px 3vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer h4 {
  font-size: 2vw;
  margin-bottom: 2vh;
  color: #e2d1bd;
}

footer .contact div {
  display: flex;
  margin-bottom: 2vh;
}
footer .contact div h2 {
  margin-left: 1vw;
}

.cont-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}
.cont-links svg {
  margin-right: 1vw;
  font-size: 2vw;
  padding: 0 2%;
}

.footer-rigth p {
  margin: 2vh 1vw;
  font-size: 2vw;
  padding: 0 2%;
  width: 7vw;
}

/*/////////////////// month ///////////////////////*/

.container {
  height: 100vh;
  background-color: #ab9184;
  display: flex;
  flex-direction: column;
}

.calendar {
  margin: 0.4%;
}

.top-bar-calendario {
  display: flex;
  justify-content: space-between;
  margin: 2vh 2vw 0vh 2vw
}
.container .digital-clock{
  margin: 0px 12vw 0px 0vw
}

.top-bar-calendario h2,
.container .digital-clock h1 {
  color: #222d28;
  font-size: 2vw;
  color: #816f5c;
}

.user-control {
  display: flex;
}

.month-chanceMonth {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-left: 2vw;
  color: #e2d1bd;
}

.date {
  display: flex;
}

.IoReturnUpBack {
  width: 7vw;
  height: 4vh;
  margin-right: 2vw;
  background: #222d28;
  border-radius: 2px;
  border: none;
  color: #e2d1bd;
  font-size: 2vw;
  padding: 0 2%;
}



.month-chanceMonth h2 {
  font-size: 2vw;
}

.icons-calendar {
  display: flex;
  margin-left: 1vw;
}

.icons-calendar button {
  font-size: 2vw;
  margin-left: 1vw;
  background: #222d28;
  border-radius: 2px;
  border: none;
  width: 3vw;
  height: 4vh;
  color: #e2d1bd;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days-of-week h2 {
  margin-left: 1vw;
  margin-bottom: 0.4vh;
  padding: 0 2%;
  font-size: 1.4vw;
  color: #e2d1bd;
}

.days {
  display: grid;
  gap: 0.2vw;
  grid-template-columns: repeat(7, 13.9vw);
  grid-template-rows: repeat(6, 13.2vh);
  overflow-y: hidden;
  height: 83vh;
}

.containers {
  height: 100%;
  width: 100%;
  background: #b4746c;
  border-radius: 2px;
}

.cont-tasks {
  display: flex;
}
.cont-tasks h2 {
  width: 12vw;
  font-size: 1.3vw;
}

.icons-add-rutine {
}

.containers.next,
.containers.former {
  background: #c8ada6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linea {
  background: #242424;
  width: 80%;
  height: 2px;
  margin-top: 6px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icons h1 {
  font-size: 2vw;
  padding: 0 2%;
  margin-left: 0.4vw;
}

.create-task input {
  width: 75%;
}

/* day */

.cont-main-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-calendar {
  width: 245px;
  min-width: 210px;
  margin-bottom: 80px;
}

.hours {
  min-width: 445px;

  display: grid;
  grid-template-columns: repeat(4, 18vw) 1fr;
  grid-template-rows: repeat(6, 14vh) 1fr;
}

.early-Morning {
  grid-column: 1;
}

.morning {
  grid-column: 2;
}
.afternoon {
  grid-column: 3;
}
.night {
  grid-column: 4;
}

/* create routine */

.selected {
  background-color: #ac5656;
}

/* minicalenraio  */

.today {
  background-color: rgb(130, 150, 168);
}
