:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.container {
  padding: 1rem;
}
.containers {
}

/* month */

.month-chanceMonth {
  display: flex;
  justify-content: space-between;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-y: auto;
}

.containers {
  height: 108px;
  background: #ac5656;
  margin: 4px;
}

.containers.next,
.containers.former {
  background: #ccbfbf;
}
