@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;500&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  color-scheme: light dark;

  color: rgba(20, 19, 19, 0.87);
  background-color: #242424;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: rgba(160, 159, 157, 0);
  overflow-x: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* ////////////////  clases para predeterminadas  ////////////////////// */
.df-c {
  display: flex;
  flex-direction: column;
}

input:focus,
:focus {
  outline: none;
}

button {
  cursor: pointer;
}

/* //////////////// Home /////////////////////////// */

.home {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgba(249, 243, 243, 0.93);
  height: 179vh;
  width: 99vw;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1625401733796-544e6fde7d8f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom 7%;
}

.first {
  margin-top: 19vh;
  display: flex;
  height: 40vh;
}

.grid {
  width: 43vw;
  margin-left: 2rem;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 50%);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 7px 9px 15px -4px rgba(0, 0, 0, 0.75);
}

.square {
  transition: 2s;
  width: 100%;
  height: 100%;
}

.square h1 {
  margin-left: 8px;
  transition: 2s;
}

.square p {
  font-size: 1.2vw;
  padding: 0 5%;
  margin-top: 3vh;
  text-align: center;
  transition: 1s;
}

.first-texto {
  display: flex;
  width: 48vw;
  margin: 4vh 2vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first-texto > h1 {
  color: #e2d1bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3vw;
  padding: 0 5%;
}

.first-texto button {
  height: 8vh;
  width: 16vw;
  background: #222d28;
  border: none;
  color: #e2d1bd;
  margin: 7vh 0px 0px;
  font-size: 1.6vw;
  padding: 0 5%;
  font-weight: bolder;
  box-shadow: 7px 9px 15px -4px rgba(0, 0, 0, 0.75);
  transition: 0.7s;
  border-radius: 4px;
}

.first-texto button:hover {
  background-color: #e9d9d9e7;
  color: #2e2b28;
}

.second {
  display: flex;
  height: 58vh;
  justify-content: space-evenly;
  align-items: center;
}
.contSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contSecond h1 {
  color: #e2d1bd;
  border-bottom: 5px solid #222d28;
  font-size: 4vw;
  padding: 0 5%;
  text-shadow: 2px 2px 22px rgba(0, 0, 0, 0.5);
}

.listTask {
  display: flex;
  width: 34vw;
  height: 7vh;
  background: #222d28;
  align-items: center;
  margin-top: 3vh;
  border-radius: 4px;
  transition: 1s;
  cursor: pointer;
  box-shadow: 32px 24px 24px -14px rgba(0, 0, 0, 0.75);
}
.listTask h2 {
  color: #e2d1bd;
  display: flex;
  width: 35%;
  font-size: 2vw;
  padding: 8px 5%;
  justify-content: center;
}

.listTask:hover {
  background-color: #e9d9d9e7;
}
.listTask h2:hover {
  color: #2e2b28;
}

.third .cont-text {
  margin: 0 19vw;
  background-color: #222d28;
  color: #f9ead8;
  font-size: 2vw;
  padding: 8px 5%;
  border-radius: 4px;
  box-shadow: 0px 14px 26px -14px rgba(0, 0, 0, 0.75);
}

/* //////////////// login and register//////////////////////////////////// */

.login-register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-width: 400px;
  max-width: 500px;
  background: #f7f3f3;
  width: 32vw;
  height: 530px;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  border-radius: 18px;
}

.main-container p {
  margin-left: 30px;
  font-size: 18px;
}
.main-container p span {
  margin-left: 10px;
  text-decoration: underline;
  color: rgba(155, 111, 111, 0.932);
}

.main-container p span:hover {
  color: rgba(44, 43, 43, 0.774);
}

.main-container .cont {
  position: relative;
  margin: 22px 0;
}

.main-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 19px;
  color: transparent;
  font-family: "Arial", sans-serif;
  transition: 0.3s;
}
.main-container .show label {
  display: flex;
  position: absolute;
  top: -18px;
  left: 1px;
  font-size: 17px;
  color: rgba(73, 72, 72, 0.932);
  font-family: "Arial", sans-serif;
}

.main-container .cont input {
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 19px;
  border-bottom: solid rgba(73, 72, 72, 0.932);
  color: rgba(73, 72, 72, 0.932);
}

.cont.df-c input[type="password"]::placeholder {
  color: rgba(73, 72, 72, 0.932);
}
.main-container button {
  height: 50px;
  background-color: transparent;
  border: solid rgba(73, 72, 72, 0.932);
  color: rgba(73, 72, 72, 0.932);
  margin: 30px 0 40px;
  font-size: 19px;
}

.main-container button:hover {
  background-color: rgba(73, 72, 72, 0.932);
  border: solid rgb(192, 186, 186);
  color: #f7f3f3;
}

.error {
  height: 30px;
  color: rgba(92, 89, 89, 0.932);
  margin: 0px 2px 11px;
}
.title {
  height: 67px;
  margin: 0px 66px 49px;
}

/* ///////////////////////// page-top ////////////////////// */

.page-top {
  position: absolute;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  margin: 0 3vw;
  background: rgba(27, 27, 25, 0);
}

.digital-clock {
  font-size: 1.6vw;
  padding: 0 5%;
  margin-top: 1vh;
  color: #e2d1bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logout {
  display: flex;
  align-items: center;
}

.page-top .logo h1 {
  color: #e2d1bd;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.page-top h2 {
  margin-right: 2vw;
  color: #e2d1bd;
  padding: 0 1%;
  font-size: 1.6vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logout button {
  height: 5vh;
  width: 7vw;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #222d28;
  color: #e2d1bd;
  margin: 0 22px 1px;
  font-size: 1.6vw;
  padding: 0 1%;
  z-index: 1;
  font-weight: 700;
  box-shadow: 11px 32px 22px -28px rgba(0, 0, 0, 0.75);
}

/* ///////////////////// footer ///////////////////////// */
footer {
  width: 93vw;
  height: 46vh;
  margin: 0px 3vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer h4 {
  font-size: 2vw;
  margin-bottom: 2vh;
  color: #e2d1bd;
}

footer .contact div {
  display: flex;
  margin-bottom: 2vh;
}
footer .contact div h2 {
  margin-left: 1vw;
}

.cont-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}
.cont-links svg {
  margin-right: 1vw;
  font-size: 2vw;
  padding: 0 2%;
}

.footer-rigth p {
  margin: 2vh 1vw;
  font-size: 2vw;
  padding: 0 2%;
  width: 7vw;
}

/*/////////////////// month ///////////////////////*/

.container {
  height: 100vh;
  background-color: #b29d8a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23382e24' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
  
  display: flex;
  flex-direction: column;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-bar-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 3vw;
}

.container .digital-clock {
  margin: 0px 9vw 0px 0vw;
}

.top-bar-calendario h2,
.container .digital-clock h1 {
  font-size: 2vw;
  color: #e2d1bd;
  margin-right: 1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-control {
  display: flex;
  align-items: center;
}

.user-control button {
  width: 6vw;
  height: 4vh;
  margin-right: 1vw;
  background-color: transparent;
  border-radius: 2px;
  font-size: 1.4vw;
  border: none;
  border-bottom: 2px solid #222d28;
  color: #e2d1bd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.IoReturnUpBack svg {
  font-size: 2vw;
  padding: 0 2%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.month-chanceMonth {
  display: flex;
  justify-content: space-between;
  color: #e2d1bd;
}

.date {
  display: flex;
}

.month-chanceMonth h2 {
  font-size: 2vw;
  margin-right: 4vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.icons-calendar {
  display: flex;
  margin-left: 1vw;
}

.icons-calendar button {
  font-size: 2vw;
  margin-left: 1vw;

  border-radius: 2px;
  border: none;
  width: 3vw;
  height: 4vh;
  color: #e2d1bd;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 14vw);
  margin-bottom: 0.6vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.days-of-week h2 {
  margin-left: 1vw;
  margin-bottom: 0.4vh;
  padding: 0 2%;
  font-size: 1.4vw;
  color: #e2d1bd;
}

.days {
  display: grid;
  gap: 0.2vh 0.2vw;
  grid-template-columns: repeat(7, 13.4vw);
  grid-template-rows: repeat(6, 14vh);
  overflow-y: hidden;
  height: 85vh;
  width: 96vw;
}

.containers {
  height: 100%;
  width: 100%;
  background-color: #eadbdb94;
  border-radius: 0.5em;
  border: none;
  border-bottom: 0.1vh solid #dcd2c3;
  border-right: 0.1vw solid #dcd2c3;
}

.containers:hover {
  background: #a77670;
  border-bottom: 0.1vh solid #868077;
  border-right: 0.1vw solid #868077;
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 7vh;
}

.tasks::-webkit-scrollbar {
  width: 0.4vw;
}

.tasks::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.tasks::-webkit-scrollbar-thumb {
  background: #222d28bd;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: #222d28f3;
}

.cont-tasks {
  display: flex;
  justify-content: space-between;
  margin: 0.5vh 0.9vw;
  border-bottom: 0.2vh solid #887e5e47;
}
.cont-tasks h2 {
  width: 11vw;
  font-size: 1.3vw;

  overflow-wrap: break-word;
}

.icons-add-rutine button {
  width: 1.4vw;
  height: 2.5vh;
  margin-right: 0.3vw;
  border: none;
  border-bottom: 0.2vh solid #d5caca;
  border-right: 0.1vw solid #d5caca;
  border-radius: 2px;
  background: #2d2b222d;
  color: #cfc2c2;
  transition: 1s;
}

.icons-add-rutine button:hover {
  border: none;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
}

.icons-add-rutine .hover,
.icons-add-rutine .none:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.icons-add-rutine .hover svg,
.icons-add-rutine .none:hover svg {
  transform: rotate(136deg);
}

.icons-add-rutine button svg {
  font-size: 1vw;
  padding: 0 2%;
  transition: transform 1s ease;
}

.delete {
  font-size: 1vw;
  color: #222d28f3;
  background: rgba(59, 175, 123, 0);
  border: none;
}

.delete:hover svg {
  color: rgba(41, 87, 66, 0.575);
}

.containers.next,
.containers.former {
  background: #925750;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containers.next:hover,
.containers.former:hover {
  background-color: #f3d3c1c9;
  cursor: pointer;
}

.linea {
  background: #242424;
  width: 80%;
  height: 2px;
  margin-top: 6px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons h1 {
  font-size: 2vw;
  padding: 0 2%;
  margin-left: 0.4vw;
}

.create-task {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.create-task input {
  width: 10vw;
  height: 2.5vh;
  font-size: 1vw;
  padding: 0 2%;
  background-color: #a58d84;
  border: none;
  border-bottom: 2px solid rgba(158, 123, 123, 0.377);
  border-radius: 4px;
}

.create-task input::placeholder {
  color: #e2d1bd;
}

.create-task .add {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border: none;
  width: 7.8vw;
  height: 3vh;
  border-radius: 2px;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
}

/* //////////////////// Day Routine ////////////////////////////// */

/* button with same style */

.title-left button,
.top-day-icons button,
.title-routine button,
.task-routine button,
.select-routine button,
.create-input,
.next-previous button {
  color: #fff;
  background-color: #817a6dd6;
  border: none;
  border-radius: 4px;
  border-bottom: 0.2vh solid #c7c3c3;
  border-right: 0.1vw solid #c7c3c3;
  transition: ease 1s;
}

.cont-main-day {
  display: flex;
  height: 100vh;
  background-color: #b29d8a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23382e24' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
  
  width: 100vw;
  padding-left: 2vw;
  overflow-y: hidden;
}
.title-left {
  display: flex;
  width: 22vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
}

.title-left button {
  margin-top: 1vh;
  margin-left: 1vw;
  width: 4.3vw;
  height: 3.5vh;
}

.title-left button:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.title-left button svg {
  transition: ease 1s;
  font-size: 1.3vw;
  font-weight: 400;
}

.title-left button:hover svg {
  transition: ease 1s;
  color: rgba(41, 87, 66, 0.575);
  transform: scale(1.2);
}

.title-left > h1 {
  color: rgb(41 39 39);
  font-size: 2.8vw;
}

.top-day-icons {
  display: flex;
  flex-direction: column;
}

.top-day-icons button {
  margin: 4vh 2vw;
  width: 3.5vw;
  height: 4vh;
}

.top-day-icons button:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.top-day-icons button:hover svg {
  transition: ease 1s;
  color: rgba(41, 87, 66, 0.575);
  transform: translateY(0.2vh);
}

.top-day-icons button svg {
  transition: ease 1s;
  font-size: 1.7vw;
  transform: translateY(0);
}

.small-calendar {
  display: flex;
}

.hours {
  display: grid;
  grid-template-columns: repeat(4, 16vw);
  grid-template-rows: repeat(6, 14vh);
  gap: 0.5vh 0.5vw;
}

.hour {
  padding: 0.5vh 0.6vw;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #dddada;
  border-right: 1px solid #dddada;
}

.early-Morning {
  background-color: #435c5ca6;
  grid-column: 1;
}

.early-Morning:hover {
  background-color: #435c5c88;
  grid-column: 1;
}

.early-Morning .title-hour svg {
  color: #c1cae9;
}

.morning {
  background-color: #a8cec9;
  grid-column: 2;
}

.morning:hover {
  background-color: #a2bebb;
}

.morning .title-hour svg {
  color: #c5a172;
}

.afternoon {
  background-color: #bb916b;
  grid-column: 3;
}

.afternoon .title-hour svg {
  color: #e9ddcd;
}

.afternoon:hover {
  background-color: #b38d6c;
}

.night {
  background-color: #475984;
  grid-column: 4;
}

.night .title-hour svg {
  color: #bbc5de;
}

.night:hover {
  background-color: #3e4e72;
}

.hour .title-hour svg,
.hour .title-hour h1 {
  font-size: 1.4vw;
}

/* minicalenraio  */

.cont-days-mini {
  width: 15vw;
  background-color: rgb(41 39 39);
  border-radius: 6px;
  padding: 2%;
  color: #f5e9e9;
  border-bottom: 0.4vh solid rgb(151, 148, 148);
  border-right: 0.2vw solid rgb(151, 148, 148);
}

.content-routine {
  margin-top: 2vh;
  margin-left: 4vw;
}

.days-mini {
  display: grid;
  gap: 0.3vh 0.3vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 3vh);
  margin-top: 1vh;
}

.days-of-week-mini {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days-of-week-mini h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  padding: 0 2%;
  font-weight: 300;
}

.day-mini-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.today {
  background-color: #a87570;
}

.days-mini .day-mini-calendar:hover {
  background-color: #b1b3b273;
}

.days-mini .day-mini-calendar h2 {
  color: #e6e4e2;
  font-size: 1.1vw;
  padding: 0 2%;
  font-weight: 400;
}

.task-day {
  margin-top: 3vh;
}

/*  */

.day-task-rotuine {
  background-color: #f0d0d0e0;
  border-radius: 5px;
  width: 26vw;
  border-bottom: 0.3vh solid #d5caca;
  border-right: 0.2vw solid #d5caca;
  transition: 1s ease;
}
.day-task-rotuine:hover {
  background-color: rgba(199, 194, 194, 0.623);
  border-bottom: 0.3vh solid #746161;
  border-right: 0.2vw solid #746161;
}

.day-task-rotuine .icons .icons-add-rutine button {
  width: 3vw;
  height: 4.4vh;
  margin-right: 1.5vw;
}

.day-task-rotuine .icons .icons-add-rutine button svg {
  font-size: 2vw;
}

.day-task-rotuine .create-task {
  height: 25vh;
  justify-content: center;
}
.day-task-rotuine .create-task input {
  height: 5vh;
  background-color: #484747;
  width: 12vw;
}
.day-task-rotuine .create-task button {
  height: 4vh;
  width: 10vw;
  margin-top: 1vh;
}

.day-task-rotuine .tasks .cont-tasks h2,
.day-task-rotuine .tasks .cont-tasks button {
  font-size: 2vw;
}

.content-task {
  height: 58vh;
}

.day-task-rotuine .tasks {
  height: 47vh;
}

.title-routine {
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
}

.title-routine .title-top {
  display: flex;
  color: rgb(41 39 39);
  text-shadow: 2px 2px 22px rgb(0 0 0 / 8%);
  border: none;
  border-bottom: 0.2vh solid #b3ab9b;
}

.title-routine h1 {
  font-size: 3.3vw;
  margin-right: 3vw;
  padding: 0 2%;
  width: 11vw;
}

.title-routine > h1:first-child {
  width: 20vw;
}

.title-routine button {
  width: 11vw;
  margin-right: 1vw;
  height: 4vh;
}

.title-routine button:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.title-routine button h2 {
  transition: ease 1s;
  font-size: 1.1vw;
  padding: 0 2%;
  font-weight: 400;
}

.title-routine button:hover h2 {
  color: rgba(41, 87, 66, 0.575);
}

.day-task-rotuine .cont-tasks h2 {
  width: 21vw;
}

.title-hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-routine {
  display: flex;
  justify-content: space-between;
  font-size: 1.2vw;
  height: 8vh;
  margin-top: 2vh;
  overflow-wrap: break-word;
}

.task-routine h2 {
  width: 12.3vw;
  overflow-wrap: break-word;
  overflow: auto;
}

.task-routine h2::-webkit-scrollbar {
  width: 0.2vw;
}

.task-routine h2::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.task-routine h2::-webkit-scrollbar-thumb {
  background: #222d282f;
}

.task-routine h2::-webkit-scrollbar-thumb:hover {
  background: #222d288e;
}

.task-routine button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 4vh;
}

.task-routine button svg {
  font-size: 2vw;
  transition: ease 1s;
}

.task-routine button:hover,
.task-routine .none {
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
}

.task-routine button:hover svg,
.task-routine .none svg {
  transform: rotate(136deg);
}

.day-task-rotuine .title-task {
  width: 16vw;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.day-task-rotuine .title-task > h1:first-child {
  font-size: 4vw;
}

/* /////////// create routine ////////////*/

.cont-create {
  background-color: #b29d8a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cg fill='%23382e24' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M0 .04C2.6.22 4.99 1.1 7 2.5A13.94 13.94 0 0 1 15 0h4c.34 0 .67.01 1 .04v2A12 12 0 0 0 7.17 12h5.12A7 7 0 0 1 20 7.07V14a5 5 0 0 0-3-4.58A5 5 0 0 0 14 14H0V7.07c.86.12 1.67.4 2.4.81.75-1.52 1.76-2.9 2.98-4.05C3.79 2.83 1.96 2.2 0 2.04v-2z'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  height: 100vh;
  display: flex;
}

.steps-to-follow {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-routine {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.days-off {
  display: grid;
  gap: 0 0.3vw;
  grid-template-columns: repeat(7, 14.3%);
  margin: 4vh 0;
}

.days-create {
  background-color: #f0d0d0fb;
  border-radius: 5px;
  border-bottom: 0.3vh solid #d5caca;
  border-right: 0.2vw solid #d5caca;
  transition: 1s ease;
  padding: 1vh 0.6vw;
  cursor: pointer;
}

.days-create:hover {
  background-color: #c4a8a8;
  border-bottom: 0.3vh solid #c2b6b6;
  border-right: 0.2vw solid #c2b6b6;
}

.select-routine > h1:first-child {
  margin-bottom: 4vh;
  font-size: 2.5vw;
  transition: 1s;
}

.days-create h1 {
  font-size: 1.8vw;
  color: #faf8f8;
}

.selected {
  background-color: #a18e6e;
  border-bottom: 0.3vh solid #302d2d;
  border-right: 0.2vw solid #302d2d;
}

.selected:hover {
  background-color: #81735a;
  border-bottom: 0.3vh solid #866a6a;
  border-right: 0.2vw solid #866a6a;
}

.lines {
  list-style: none;
}

.lines li {
  height: 0.1vh;
  background-color: #faf8f8;
  margin-bottom: 3vh;
  transition: 1s;
}

.days-create:hover .lines li {
  background-color: #d4d3d3;
}

.days-create:hover h1 {
  color: #d4d3d3;
}

.selected h1 {
  color: #593434;
  font-size: 1.8vw;
}

.selected:hover h1 {
  color: #ddb7b7;
}

.selected .lines li {
  background-color: #593434;
}

.selected:hover .lines li {
  background-color: #ddb7b7;
}

.select-routine button {
  width: 10vw;
  height: 4vh;
  font-size: 1vw;
}

.select-routine button:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.create-input {
  width: 2vw;
  height: 3vh;
}

.create-input:hover {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.create-input svg {
  transition: 1s ease;
  font-size: 1vw;
}
.create-input:hover svg {
  transform: rotate(136deg);
}

.add-info-routine {
  padding: 1vh 1vw;
}

.add-info-routine .hours {
  display: grid;
  grid-template-columns: repeat(4, 14vw);
  grid-template-rows: repeat(6, 13vh);
  gap: 0.5vh 0.5vw;
}

.add-info-routine > h1:first-child {
  margin: 2vh 0vw;
  color: rgb(41 39 39);
  font-size: 2vw;
}

.input-create-text {
  height: 8vh;
  overflow-y: auto;
}

.input-create-text h2 {
  overflow-wrap: break-word;
  margin-top: 1vh;
  border: none;
  border-bottom: 0.1vh solid #fff;
}

.input-create-text::-webkit-scrollbar {
  width: 0.2vw;
}

.input-create-text::-webkit-scrollbar-track {
  background: #f1f1f104;
}

.input-create-text::-webkit-scrollbar-thumb {
  background: #222d282f;
}

.input-create-text::-webkit-scrollbar-thumb:hover {
  background: #222d288e;
}

.add-info-routine .title-create {
  display: flex;
  justify-content: space-between;
}

.input-create-routine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.input-create-routine input {
  height: 3vh;
  background-color: #484747;
  width: 10vw;
  font-size: 1vw;
  padding: 0 2%;
  border: none;
  border-bottom: 2px solid rgba(158, 123, 123, 0.219);
  border-radius: 4px;
  margin-bottom: 0.4vh;
}

.input-create-routine button {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border: none;
  width: 7.8vw;
  height: 3vh;
  border-radius: 2px;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
}

.create-input.true {
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
}

.create-input.true svg {
  transform: rotate(136deg);
}

.add-info-routine .hours .lines {
  margin-top: 4.4vh;
}

.add-info-routine .hours .lines li {
  background-color: #f5f5f5f3;
}

.next-previous {
  display: flex;
  margin: 2vh 0vw;
  width: 20vw;
  justify-content: space-between;
}

.next-previous button {
  width: 9vw;
  height: 5vh;
  font-size: 1vw;
}

.next-previous button:hover {
  border-bottom: 1px solid rgb(25 38 32 / 22%);
  border-right: 1px solid rgb(25 38 32 / 22%);
  background: rgba(59, 175, 123, 0.176);
  color: #222d28f3;
}

.steps {
  width: 25vw;
  display: flex;
  margin-top: 1vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}

.steps svg {
  font-size: 5vw;
  transition: 1s;
}

.steps .here {
  font-size: 7vw;
  color: #fff;
}

.steps-info {
  margin: 0 3vw;
}

.steps-info img {
  margin-top: 5vh;
  width: 22vw;
  filter: grayscale(40%);
  transition: 1s;
}

.steps-info h1 {
  margin-top: 5vh;
  font-size: 2vw;
  width: 26vw;
}

.steps-info div{
  height: 66vh;
}
